[Unit]
Description=Mezzanine gunicorn server

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/bin/bash -c '. {{ venv_path }}/bin/activate && gunicorn -c gunicorn.conf.py project.wsgi'
User={{ user }}
WorkingDirectory={{ proj_path }}

[Install]
WantedBy=multi-user.target
